In [2]:
#notebooks/Breast-Cancer-Classifier-ANN/BreastCancerClassifier.ipynb
import pandas as pd
data = pd.read_csv("breastCancer.csv", header = None)

In [3]:
data

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
5    1017122   8  10  10   8   7  10   9   7   1   4
6    1018099   1   1   1   1   2  10   3   1   1   2
7    1018561   2   1   2   1   2   1   3   1   1   2
8    1033078   2   1   1   1   2   1   1   1   5   2
9    1033078   4   2   1   1   2   1   2   1   1   2
10   1035283   1   1   1   1   1   1   3   1   1   2
11   1036172   2   1   1   1   2   1   2   1   1   2
12   1041801   5   3   3   3   2   3   4   4   1   4
13   1043999   1   1   1   1   2   3   3   1   1   2
14   1044572   8   7   5  10   7   9   5   5   4   4
15   1047630   7   4   6   4   6   1   4   3   1   4
16   1048672   4   1   1   1   2   1   2   1   1   2
17   1049815   4   1   1   1   2   1   3   1   1   2
18   1050670  10   7   7   6   4  10   4   1   2   4
19   1050718   6   1   1   1   2   1   3   1   1   2
20   1054590   7   3   2  10   5  10   5   4   4   4
21   1054593  10   5   5   3   6   7   7  10   1   4
22   1056784   3   1   1   1   2   1   2   1   1   2
23   1057013   8   4   5   1   2   ?   7   3   1   4
24   1059552   1   1   1   1   2   1   3   1   1   2
25   1065726   5   2   3   4   2   7   3   6   1   4
26   1066373   3   2   1   1   1   1   2   1   1   2
27   1066979   5   1   1   1   2   1   2   1   1   2
28   1067444   2   1   1   1   2   1   2   1   1   2
29   1070935   1   1   3   1   2   1   1   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
669  1350423   5  10  10   8   5   5   7  10   1   4
670  1352848   3  10   7   8   5   8   7   4   1   4
671  1353092   3   2   1   2   2   1   3   1   1   2
672  1354840   2   1   1   1   2   1   3   1   1   2
673  1354840   5   3   2   1   3   1   1   1   1   2
674  1355260   1   1   1   1   2   1   2   1   1   2
675  1365075   4   1   4   1   2   1   1   1   1   2
676  1365328   1   1   2   1   2   1   2   1   1   2
677  1368267   5   1   1   1   2   1   1   1   1   2
678  1368273   1   1   1   1   2   1   1   1   1   2
679  1368882   2   1   1   1   2   1   1   1   1   2
680  1369821  10  10  10  10   5  10  10  10   7   4
681  1371026   5  10  10  10   4  10   5   6   3   4
682  1371920   5   1   1   1   2   1   3   2   1   2
683   466906   1   1   1   1   2   1   1   1   1   2
684   466906   1   1   1   1   2   1   1   1   1   2
685   534555   1   1   1   1   2   1   1   1   1   2
686   536708   1   1   1   1   2   1   1   1   1   2
687   566346   3   1   1   1   2   1   2   3   1   2
688   603148   4   1   1   1   2   1   1   1   1   2
689   654546   1   1   1   1   2   1   1   1   8   2
690   654546   1   1   1   3   2   1   1   1   1   2
691   695091   5  10  10   5   4   5   4   4   1   4
692   714039   3   1   1   1   2   1   1   1   1   2
693   763235   3   1   1   1   2   1   2   1   2   2
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [4]:
df = pd.DataFrame(data)
df[6] = df[6].replace('?',0)
df[6] = df[6].astype(int)
df.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
dtype: object

In [5]:
mean = int(df[6].mean())
mean

3

In [6]:
df[10] = df[10].replace(2,0).replace(4,1)
df[6] = df[6].replace(0,mean)
df

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   0
1    1002945   5   4   4   5   7  10   3   2   1   0
2    1015425   3   1   1   1   2   2   3   1   1   0
3    1016277   6   8   8   1   3   4   3   7   1   0
4    1017023   4   1   1   3   2   1   3   1   1   0
5    1017122   8  10  10   8   7  10   9   7   1   1
6    1018099   1   1   1   1   2  10   3   1   1   0
7    1018561   2   1   2   1   2   1   3   1   1   0
8    1033078   2   1   1   1   2   1   1   1   5   0
9    1033078   4   2   1   1   2   1   2   1   1   0
10   1035283   1   1   1   1   1   1   3   1   1   0
11   1036172   2   1   1   1   2   1   2   1   1   0
12   1041801   5   3   3   3   2   3   4   4   1   1
13   1043999   1   1   1   1   2   3   3   1   1   0
14   1044572   8   7   5  10   7   9   5   5   4   1
15   1047630   7   4   6   4   6   1   4   3   1   1
16   1048672   4   1   1   1   2   1   2   1   1   0
17   1049815   4   1   1   1   2   1   3   1   1   0
18   1050670  10   7   7   6   4  10   4   1   2   1
19   1050718   6   1   1   1   2   1   3   1   1   0
20   1054590   7   3   2  10   5  10   5   4   4   1
21   1054593  10   5   5   3   6   7   7  10   1   1
22   1056784   3   1   1   1   2   1   2   1   1   0
23   1057013   8   4   5   1   2   3   7   3   1   1
24   1059552   1   1   1   1   2   1   3   1   1   0
25   1065726   5   2   3   4   2   7   3   6   1   1
26   1066373   3   2   1   1   1   1   2   1   1   0
27   1066979   5   1   1   1   2   1   2   1   1   0
28   1067444   2   1   1   1   2   1   2   1   1   0
29   1070935   1   1   3   1   2   1   1   1   1   0
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
669  1350423   5  10  10   8   5   5   7  10   1   1
670  1352848   3  10   7   8   5   8   7   4   1   1
671  1353092   3   2   1   2   2   1   3   1   1   0
672  1354840   2   1   1   1   2   1   3   1   1   0
673  1354840   5   3   2   1   3   1   1   1   1   0
674  1355260   1   1   1   1   2   1   2   1   1   0
675  1365075   4   1   4   1   2   1   1   1   1   0
676  1365328   1   1   2   1   2   1   2   1   1   0
677  1368267   5   1   1   1   2   1   1   1   1   0
678  1368273   1   1   1   1   2   1   1   1   1   0
679  1368882   2   1   1   1   2   1   1   1   1   0
680  1369821  10  10  10  10   5  10  10  10   7   1
681  1371026   5  10  10  10   4  10   5   6   3   1
682  1371920   5   1   1   1   2   1   3   2   1   0
683   466906   1   1   1   1   2   1   1   1   1   0
684   466906   1   1   1   1   2   1   1   1   1   0
685   534555   1   1   1   1   2   1   1   1   1   0
686   536708   1   1   1   1   2   1   1   1   1   0
687   566346   3   1   1   1   2   1   2   3   1   0
688   603148   4   1   1   1   2   1   1   1   1   0
689   654546   1   1   1   1   2   1   1   1   8   0
690   654546   1   1   1   3   2   1   1   1   1   0
691   695091   5  10  10   5   4   5   4   4   1   1
692   714039   3   1   1   1   2   1   1   1   1   0
693   763235   3   1   1   1   2   1   2   1   2   0
694   776715   3   1   1   1   3   2   1   1   1   0
695   841769   2   1   1   1   2   1   1   1   1   0
696   888820   5  10  10   3   7   3   8  10   2   1
697   897471   4   8   6   4   3   4  10   6   1   1
698   897471   4   8   8   5   4   5  10   4   1   1

[699 rows x 11 columns]

In [7]:
X = df.iloc[:, 1:10]
Y = df.iloc[:, 10]

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

X_train.to_csv("X_train.csv", index = False, header = None)
X_test.to_csv("X_test.csv", index = False, header = None)
Y_train.to_csv("Y_train.csv", index = False, header = None)
Y_test.to_csv("Y_test.csv", index = False, header = None)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  if __name__ == '__main__':
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  # Remove the CWD from sys.path while we load stuff.

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [9]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [10]:
classifier = Sequential()
classifier.add(Dense(units = 5, activation = 'relu', input_dim=9))
classifier.add(Dense(units = 3, activation = 'relu'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [11]:
classifier.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [22]:
classifier.fit(X_train, Y_train, batch_size = 10, epochs = 1)

Epoch 1/1
559/559 [==============================] - 0s 239us/step - loss: 0.0084 - acc: 0.9911

In [19]:
Y_pred = classifier.predict(X_test)
Y_pred = [ 1 if y>=0.5 else 0 for y in Y_pred]
Y_pred

[0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0]

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[82,  3],
       [ 1, 54]])